<!-- templates/partials/navbar.html -->

<nav class='navbar bg-dark navbar-dark navbar-expand-lg'> <!--expand at large shows the navBarResponsive item until it shrinks to devices screen-->
    <div class='container'><!--another options are: container-fluid-->
    
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>
                <img src="/static/photos/lion-logo.png" width="30" height="30" class="d-inline-block align-top" alt="store logo">
                All Night
            </a>
        </div>
        
        <!--Hamburger button on nav-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation"> <!--navBarResponsive will be our hambuerger button, don't auto expand it-->
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--The nav itself-->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <a class="nav-item active nav-link" id="link-home" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" id="navitem" href="/projects/new">Sell</a>
                
                {% if current_user["_id"] is defined and current_user["_id"] != "" %}
                    <a class="nav-item nav-link" id="navitem" href="/cart/new">Cart</a>
                    <!-- <a class="nav-item nav-link" id="navitem" href="/projects/new">Sell</a> -->
                    
                    <li class="nav-item dropdown"> <!--Profile Dropdown-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu dropdown-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Profile</a>
                            
                            <a class="dropdown-item" href="#">Manage Listings</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="/login">Logout</a>
                        </div>
                    </li>

                {% else %}
                    <a class="nav-item nav-link" id="navitem" href="/login">Login</a>
                    <a class="nav-item nav-link" id="navitem" href="/register">Register</a>
                {% endif %}

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
        </div>

        <!-- <div class='pull-right'>
            <a href='/projects/new' class='btn btn-default navbar-btn'>New Project</a>
        </div>

        <div class='pull-right'>
            <a href='/users/new' class='btn btn-default navbar-btn'>New User</a>
        </div> -->

    </div>
</nav>