<!-- templates/partials/navbar.html -->

<nav class='navbar bg-dark navbar-dark navbar-expand-lg'> <!--expand at large shows the navBarResponsive item until it shrinks to devices screen-->
    <div class='container'><!--another options are: container-fluid-->
    
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>
                Contractor
            </a>
        </div>
        
        <!--Hamburger button on nav-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation"> <!--navBarResponsive will be our hambuerger button, don't auto expand it-->
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--The nav itself-->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li id="link-new-project" class="nav-item"> 
                    <a class="nav-link" href="/projects/new">New Project</a>
                </li>
                <li id="link-new-user" class="nav-item"> 
                    <a class="nav-link active" href="/users/new">New User</a>
                </li>
            </ul>
        </div>

        <!-- <div class='pull-right'>
            <a href='/projects/new' class='btn btn-default navbar-btn'>New Project</a>
        </div>

        <div class='pull-right'>
            <a href='/users/new' class='btn btn-default navbar-btn'>New User</a>
        </div> -->

    </div>
</nav>