<!-- templates/partials/offer_form.html -->

<form action='/projects/offers' method='POST'>
    <input type='hidden' value='{{ project._id }}' name='project_id'/>

    <fieldset>
        <legend>Bid Offering</legend>
        <!-- Price -->
        <div class='form-group'>
            <label for='offer-title'>Amount to Offer</label><br>
            <input class='form-control'
                id='offer-title'
                type='text'
                name='price'
                placeholder='Price $$$'/>
        </div>

        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='offer-content'>Bidder Description</label><br>
            <textarea class='form-control'
                id='offer-content'
                name='description'
                rows='5'
                placeholder='Your Description...'></textarea>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Offer Price</button>
    </div>
</form>