<!-- templates/partials/users_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='user-name'>Title</label><br>
        <input id='user-name' type='text' name='user_name' value='{{ user.user_name }}'/>
    </p>
    
    <!-- DESCRIPTION -->
    <p>
      <label for='user-description'>Description</label><br>
      <input id='user-description' type='text' name='user_description' value='{{ user.user_description }}' />
    </p>

    <div class='form-group'> <!--RATINGS-->
        How would you rate this user?
        <select id = 'user_rating' name='user_rating'> <!-- drop down defaulted at 5' -->
            <option value=5 selected = 'selected'>5</option>
            <option value=4>4</option>
            <option value=3>3</option>
            <option value=2>2</option>
            <option value=1>1</option>
        </select>
    </div> 
    
    <!-- VIDEO LINKS -->
    <!-- <p>
      <label for='user-videos'>Videos</label><br>
      <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
      <textarea id='user-videos' name='videos' rows='10'>{{ "\n".join(user.videos) }}</textarea>
    </p> -->

    </fieldset>
    
    <!-- BUTTON -->
    <p>
        <button type='submit'>Save User</button>
    </p>