

/* user_image_container needed to position the button. Adjust the width as needed */
.user_image_container {
position: relative;
width: 250px;
height: 300px;
/* width: 10%; */
}

/* Make the image responsive */
.user_image_container .img {
width: 250px; /*width: 250px !important;*/
height: 300px;
}


/* Style the button and place it in the middle of the user_image_container/image */
.user_image_container .btn {
position: absolute;
bottom: 0;
right: 0;
transform: translate(-50%, 0%);
-ms-transform: translate(-50%, -50%);
background-color: #042fdc;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}

.user_image_container .btn:hover {
    background-color: red;
}
