<!-- templates/users_show.html -->
{% extends 'base.html' %}

{% block content %}
    <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ user.user_name }}</h1>

        {% if user.user_image is defined and user.user_image|length %}
            <a href={{ user.user_image }}><img class="rounded img-fluid" src={{ user.user_image }} style="width:250px; height:300px"></a>
        {% endif %}

        {% if user.user_description is defined and user.user_description|length %}
            <h5>{{ user.user_description }}</h5>
        {% endif %}

        {% if user.user_rating is defined %}
            <h6>User Rating: {{ user.user_rating }}</h6>
        {% endif %}
        <!-- {% for video in user.videos %}
            <div class="card"><div class="card-body">
                <iframe width="420" height="315" src="{{ video }}"></iframe>
            </div></div>
        {% endfor %} -->
        <p><a href='/users/{{ user._id }}/edit'>Edit</a></p>
        <!-- <p>
            <a<button class='btn btn-primary' href='/users/{{ user._id }}/edit'>EDIT!</a></button>
        </p> -->

        <p><form method='POST' action='/users/{{ user._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
        <br><br><br>
        {% if user.user_linkedin is defined and user.user_linkedin|length %}
            <p><a href={{user.user_linkedin}}>LinkedIn</a></p>
        {% endif %}
        {% if user.user_facebook is defined and user.user_facebook|length %}
            <p><a href={{user.user_facebook}}>Facebook</a></p>
        {% endif %}
        {% if user.user_github is defined and user.user_github|length %} <!--checks if user has those properties is defined and not empty-->
            <p><a href={{user.user_github}}>GitHub</a></p>
        {% endif %}
    </div>
    </div>

{% endblock %}