<!-- templates/users_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/users'>
    <fieldset>
    <legend>New User</legend>
    
    <p> <!-- TITLE -->
        <label for='title'>Full Name</label><br>
        <input type='text' name='user_name' />
    </p>
    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='user_description' rows = '10' />
    </p>

    <div class='form-group'> <!--RATINGS-->
        How would you rate this user?
        <select id = 'user_rating' name='user_rating'> <!-- drop down defaulted at 5' -->
            <option value=5 selected = 'selected'>5</option>
            <option value=4>4</option>
            <option value=3>3</option>
            <option value=2>2</option>
            <option value=1>1</option>
        </select>
    </div> 

    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save User</button>
    </p>
</form>
{% endblock %}
